

<div class="container">
	<center>
		<ul>
			<a class="waves-effect btn grey lighten-5 grey-text text-darken-2 hoverable z-depth-2" href="{%url 'AddEvent' %}">
				<strong> Add Events </strong>
			</a>
			<a class="waves-effect btn grey lighten-5 grey-text text-darken-2 hoverable z-depth-2" href="{% url 'ViewRegistration'%}">
				<strong> View Registrations </strong>
			</a>
			<a class="waves-effect btn grey lighten-5 grey-text text-darken-2 hoverable z-depth-2" href="{%url 'SendMail' %}">
				<strong>Mail Notification </strong>
			</a>

			<a class="waves-effect btn grey lighten-5 grey-text text-darken-2 hoverable z-depth-2" href="{% url 'Logout' %}">
				<strong> Logout </strong>
			</a>
					</ul>
	</center>
</div>


