<!DOCTYPE html>
  <html>
    <head>
      <title>
        {% block title %} {% endblock %}
      </title>

    {% block meta %} {% endblock %}

      <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>
    <!--Icon-->
    <link href='http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' rel='stylesheet' type='text/css' />
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
      <style type="text/css">
    .data a, .data span, .data tr, .data td ,p { white-space: pre-wrap; }
    span a{
      margin-left: 12px;
      color: white;

    }
      </style>
      {% block custom_css %} {% endblock %}

      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body id="main_body"  >
    <nav class=" cyan darken-4">
    <div class="nav-wrapper container">
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

            <a href="#!" class="brand-logo " style="" ><i class="material-icons">flight_takeoff</i>Kaizen 4.0</a>

      <ul class="right hide-on-med-and-down">
     
                  <li><a href="{% url 'events'%}" class="waves-effect">Welcome </a></li>
                  <li><a href="{% url 'index' %}" class="waves-effect">Home</a></li>
             
      </ul>
      <ul class="side-nav" id="mobile-demo">
      
                  <li><a href="{% url 'events'%}"  class="waves-effect">Welcome </a></li>
                  <li><a href="{% url 'index' %}" class="waves-effect">Home</a></li>

            
      </ul>
    </div>
  </nav>
     
               
        {% if request.user.is_authenticated%}
            {% include 'admin_tab.html' %} 
        {% endif %}
          
          {% for message in flash.notice %}
                 {{ message }}
        {% endfor %}
      {% block body_block %}{% endblock %}

       <footer class="page-footer cyan darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">CES Official</h5>
                <p class="grey-text text-lighten-4">Found a bug? Help us to make this site much better <br><b>Contact the developer:<span style="display:inline-flex;">
                                <a href="https://www.facebook.com/profile.php?id=100003275864360"><i class="fa fa-facebook"></i></a>
                                  <a href="mailto:abhishektiwari@cevgroup.org"><i class="material-icons">email</i></a>
                            
                  <!--   <a href="mailto:joe@example.com?subject=feedback" "email me">
                        <i class="material-icons">email</i>
                    </a>
                    <a href="https://www.facebook.com/profile.php?id=100003275864360" title="">
                      <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    </a> -->
                    </span>
                    </b> 
                    </p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="{% url 'index'%}">Home</a></li>
                    <li><a class="grey-text text-lighten-3" href="{' url 'events'}">Events</a></li>  
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright CES
            <a class="grey-text text-lighten-4 right" href="#!">About</a>
            </div>
          </div>
        </footer>


      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
      <script type="text/javascript">
  $(document).ready(function() {
    $('select').material_select();
    });
  $( document ).ready(function(){
        $(".button-collapse").sideNav();
  })
</script>

      {% block custom_js %} {% endblock %}
    </body>
  </html>